@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400,700&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500&display=swap');
@import url('./Gotham-Font/Gotham-Black.otf');
@import url('./Gotham-Font/Gotham-Light.otf');
@import url('./Gotham-Font/Gotham-Thin.otf');
@import url('./Gotham-Font/Gotham-XLight.otf');
@import url('./Gotham-Font/Gotham-Bold.otf');
@import url('./Gotham-Font/GothamMedium.ttf');
@import url('./Gotham-Font/GothamMedium_1.ttf');

$code-font-family: Fira Mono, Source Code Pro, Menlo, Consolas, Monaco, monospace;
$global-font-family: "Inter", "Source Sans Pro", sans-serif;

// $global-background-color-dark: #182B36;
// $header-background-color-dark: #0F222D;

[theme=dark] header {
    background: linear-gradient(90deg, #152d3b, #08131a);
}

body[theme=dark] {
    background: linear-gradient(149deg, #24323f 0%, #182B36 100%, #08131a 100%);
}

/* Home page */

article.single.summary {
    width: 50%;
    /* Divisez l'espace en 2 colonnes égales */
    box-sizing: border-box;
    /* Inclure les marges et les bordures dans la largeur */
    float: left;
    /* Flottez les articles à gauche */
    padding: 15px;
    /* Espace intérieur autour des articles (ajustez selon vos besoins) */
    min-height: 430px;
}

@media screen and (max-width: 768px) {
    article.single.summary {
        width: 100%;
        /* Afficher les articles en pleine largeur */
        float: none;
        /* Annuler la flottaison pour afficher en colonne */
        padding: 15px;
        /* Ajustez l'espacement intérieur si nécessaire */
    }

    .page.home {
        width: 100% !important;
    }
}

@media screen and (min-width: 768px) {
    .page.home {
        min-width: 60%;
    }
}

.header-title,
h1.home-title {
    font-family: "Comfortaa", "Roboto Condensed", sans-serif !important;
    letter-spacing: 4px;
    font-weight: 400 !important;
    font-size: 22px !important;
}

h1 {
    font-family: "Gotham", "Comfortaa", "Roboto Condensed", sans-serif !important;
}

h2 {
    font-family: "Gotham Light", "Comfortaa", "Roboto Condensed", sans-serif !important;
    font-weight: 900!important;
    letter-spacing: 0.7px;
}

h3 {
    font-family: "Gotham Light", "Comfortaa", "Roboto Condensed", sans-serif !important;
}

.home-subtitle {
    text-transform: uppercase;
    font-family: 'Comfortaa';
    letter-spacing: 3px;
    font-size: 0.8em !important;
}

.menu {
    font-family: "Comfortaa", "Roboto Condensed", sans-serif !important;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 11px;
}


.cc-color-override-183142524.cc-window,
a.cc-link {
    color: rgba(255, 255, 255, 0.7) !important;
    background-color: #304e5f !important;
    font-family: "Roboto", "Source Sans Pro", sans-serif !important;
}

.archive .single-title {
    text-align: center !important;
    margin-top: 40px;
    padding-bottom: 20px;
    border-bottom: 3px solid rgba(255, 255, 255, 0.05);
}

@media screen and (max-width: 600px) {
    .flex-container {
        display: block;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: normal;
        align-content: normal;
    }

    .flex-items:nth-child(1) {
        text-align: center;
    }
}

@media screen and (min-width: 600px) {
    .flex-container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: normal;
        align-content: normal;
    }
}

iframe[src*="https://www.youtube.com/embed/"] {
    position: relative !important;
    // width: 100% !important;
    height: auto !important;
    max-width: 300px !important;
    aspect-ratio: 9 / 16 !important;
}

.flex-items:nth-child(1) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    padding: 10px;
}

.flex-items:nth-child(2) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    padding: 10px;
}

.single .content h1 {
    margin-bottom: -40px !important;
}

.single .content h2 {
    margin-top: 70px !important;
}

.single .content h3 {
    margin-top: 40px !important;
}

.single .content p {
    margin: 1.2rem 0 !important;
}

.home[data-home=posts] .summary {
    padding-top: 2.3rem !important;
    padding-bottom: 2rem !important;
}

.home .home-profile .home-title {
    letter-spacing: 6px !important;
}

.single .content .admonition {
    margin: 2rem 0 !important;
}

.featured-image-preview {
    min-height: 100px;
}

[theme=dark] .search input {
    background-color: transparent!important;
}

.thibaud-picture {
    background-image: url("https://trackflaw.com/images/thibaud.png");
    display: inline-block;
    background-size: cover;
    height: 1.5vh;
    width: 1.5vh;
    border-radius: 100%;
    margin-right: 5px;
    vertical-align: text-top;
}

.thibaud-picture-big {
    background-image: url("https://trackflaw.com/images/thibaud.png");
    display: inline-block;
    background-size: cover;
    height: 3.5vh;
    width: 3.5vh;
    border-radius: 100%;
    margin-right: 10px;
    margin-bottom: 10px;
    vertical-align: middle;
}

// article.single-summary {
//     min-height: 600px;
// }